// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// DLight custom

header{
    position: relative;
}

.iso{
  background-image: url('dlight-logo.png');
  background-size: 31px 31px;
  background-position: 0 8px; 
  background-repeat: no-repeat;
}

.brand, .tagline{
    display: inline-block;
    text-transform: uppercase;
}

h1.brand{
    text-shadow: 0 0 0 $gray;
    color: transparent;
    font-weight: 200;
    letter-spacing: .12ex;
    transition: all ease 1s;
    text-shadow: 0 0 5px $gray;
    .iso{
        color: transparent;
        transition: all ease 1s;
        text-shadow: none;
        filter: blur(0);
    }

    &:hover{
        text-shadow: 0 0 0 $gray;
        .iso{
          filter: blur(5px);
        }
    }
}

h2.tagline{
    position: absolute;
    right: 0;
    top: 27px;
    color: $gray;
    letter-spacing: .31ex;
    font-size: 14px;
    font-weight: 600;
}

.status-indicator{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2); ;

    margin: 0 1ex 0 0;
    &.online{
      top: 6px;
      @include size(8px, 8px);
      background-color: rgba(0, 255, 0, .9);
      box-shadow: 0 0 3px rgba(0, 255, 0, .9);
      
    }
    &.offline{
      top: 8px;
      @include size(6px, 6px);
      background-color: rgba(0, 0, 0, .1);
    }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-signin-heading,
    .checkbox {
        margin-bottom: 10px;
    }
    .checkbox{
        font-weight: normal;
    }
    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.panel-body{
    .form-group{
        label{
            font-weight: 600;
            color: rgba(0, 0, 0, .45);
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}

.node-title{
  font-weight: 500;
  margin-left: 1em; 
}

/*

WTF is .bmd ?


.bmd-cp-window{
  font-family:Tahoma;
  background-color:#333;
  display:none;
  left:0;
  top:0;
  position:absolute;
  z-index:515;
  -webkit-box-shadow:0 0 10px rgba(50,50,50,0.5);
  -moz-box-shadow:0 0 10px rgba(50,50,50,0.5);
  box-shadow:0 0 10px rgba(50,50,50,0.5)
}

.bmd-cp-container{
  position:relative;
  padding:5px;
  margin:0;
}

.bmd-cp-fullscreen>.bmd-cp-container{
  padding:10px;
}
.bmd-cp-container button[class^='bmd-cp-button-']{
  background-repeat:no-repeat;
  background-position:center center;
  right:-20px;
  border:0;
  margin:0;
}


.bmd-cp-controls-container{text-align:right;padding-top:5px;margin:0}
.bmd-cp-controls{position:absolute;padding:0;height:20px;width:20px}
.bmd-cp-container .bmd-cp-button-close{top:5px;background-color:#c0392b;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAChJREFUCNdjAAIHDgYFAQYBBQYOBwaWBgZmBiACMoBcoCBQCqgAqAoAPTcC74JqR1MAAAAASUVORK5CYII=)}
.bmd-cp-container>.bmd-cp-button-fullscreen{top:26px;background-color:#333;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAChJREFUCNdj+GDDcICHYYEIwwQVBg4HBpYGBjAAMoBcoCBQCqgAqAwAsQ4IWYLWtUcAAAAASUVORK5CYII=)}
.bmd-cp-controls-container button[class^='bmd-cp-button-'],
.bmd-cp-controls-container input{position:static;margin:0;padding:5px;outline:0;display:inline-block;border:0}
.bmd-cp-controls-container button[class^='bmd-cp-button-']{height:27px;width:27px}
.bmd-cp-controls-container>
.bmd-cp-button-fullscreen{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAACZJREFUCNdjAAIHDgaVCQwiCxh4DjDYfGAAAyADyAUKAqWACoACAJeSB1ELCBg0AAAAAElFTkSuQmCC);background-color:#e36c09}
.bmd-cp-item-container{width:100%;border-spacing:0;padding:0;margin:0}
.bmd-cp-item-container td{height:20px;width:20px;cursor:pointer;padding:0;margin:0}
.bmd-cp-insert-input{vertical-align:top;border:0;display:block;width:80px;height:27px !important;padding:5px !important;font-family:Tahoma;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.bmd-cp-button-accept{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAACFJREFUCNdjQAAOBgYBBgYFBgcHBoUGBkEGBi4GBhaENAAfGwF4FBITzQAAAABJRU5ErkJggg==);background-color:#19b597;color:#fff}
.bmd-cp-button-accept:hover{background-color:#16a085}
.bmd-cp-button-prefix{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAQMAAAAlhr+SAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABdJREFUCNdjAAIOBxCy/wAk4QhNEKgKAGsnBS9U7mopAAAAAElFTkSuQmCC);background-color:#7f8c8d;color:#666}
*/

.color-input{
  min-height: 140px;
}

footer{
    padding: 2rem 0 3rem 0;
    text-align: center;
    letter-spacing: .1ex;
    .iso{
      display: inline-block;
      @include size(40px, 40px);
      background-image: url('dlight-logo-bw.png');
    }
}

// Custom Utilities

.text-shadow-soft{
  @include text-long-shadow(lighten($brand-primary, 30%), 100, .25, .005, 1);
}

.text-shadow-hard{
  @include text-long-shadow($brand-primary, 30, .5, 0.001, 30);
}

.box-shadow-soft{
  @include box-long-shadow(lighten($brand-primary, 30%), 100, .25, .005, 1);
}

.box-shadow-hard{
  @include box-long-shadow($brand-primary, 30, .5, 0.001, 30);
}

// above phone size
@media (min-width: $screen-phone) {

}
