<!DOCTYPE html>
<html>
  <head>
    <title>D·LIGHT</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>