<!DOCTYPE html>
<html>
  <head>
    <title>D·LIGHT</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <%= csrf_meta_tags %>
	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <div class='container'>
      <header>
        <h1 class='brand'><span class='iso'>D</span><span class='t'>light</span></h1> 
        <h2 class="tagline hidden-xs hidden-sm">domotic lighting system</h2>
      </header>
      <%= yield %>
    </div>

    <footer>
      <h6 class='brand'><span class='iso'>D</span><span class='t'>light</span></h6><br>
      <span class="tagline">Domotic Lighting System</span><br>
      <a href="http://www.ead.pucv.cl">e[ad] Escuela de Arquitectura y Diseño</a><br>
      Pontificia Universidad Católica de Valparaíso
    </footer>    
  </body>
</html>